@{
    ViewBag.Title = "Search Persons";
}

<script src="@(Url.Content("~/Scripts/AngControllers/AngSearchPersonApp.js"))"></script>

<div ng-app="SearchApp" ng-controller="SearchPersonsCntrl">
    <div>
        <form ng-submit="GetSearchResults()">
            <fieldset>
                <h3>Search For Person</h3>
                <hr />
                <div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-7">
                            <label ng-bind="msg"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 text-right">
                            <label class="col-sm-2 control-label">Name</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="searchCriteria" ng-model="searchCriteria" placeholder="enter search criteria....."
                                   class="form-control text-box single-line" autofocus="autofocus"/>
                        </div>
                        <div class="col-md-0">
                            <input id="btnFind" type="submit" class="btn btn-default" value="Find" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-7">
                            <label ng-bind="error" class="text-danger"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div id="spinner" class="col-md-10">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <p></p>
    <div id="divPersonList" ng-show="isResult">
        <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Interests</th>
                    <th></th>
                </tr>
                <tr ng-repeat="p in Persons" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
                    <td><img ng-src="{{p.FileName }}"></td>
                    <td>{{ p.Name }}</td>
                    <td>{{ p.Address }}</td>
                    <td>{{ p.Age }}</td>
                    <td>{{ p.Interests }}</td>
                </tr>
        </table>
    </div>

</div>
